﻿@model Dictionary<object, object>

@{
    ViewData["Title"] = "Home Page";
}

@AppContext.TargetFrameworkName

<table class="table table-striped">
    <thead>
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var kvp in this.Model)
        {
            <tr>
                <td>@kvp.Key</td>
                <td>@kvp.Value</td>
            </tr>
        }
    </tbody>
</table>